*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
     font-family: "Roboto", sans-serif;
}
.head2{
    width:100%;
    height:100px;
} 
.list-head{
    list-style: none;
}
.list-item{
text-decoration: none;
display:inline;
  color: grey;
}
/* .brands{
    float:right;
    margin-right:100px;
    display:flex;
    flex-direction: row;
} */
/* .tops{
display:flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
} */

.icon-section{
    margin-left:-5%;
    height:35px;
    display:flex;
    flex-direction: row;
    justify-content: right;
   width:100%;


}

.i-items{
    width:35px;
    height:35px;
    font-size: 22px;
    border-right: 1px solid grey;
    margin: 0px 5px;

}


 #row-head{
height:35px;
background-color: rgb(223, 218, 218); ;
 }
 .icon-head{
    display:flex;
    flex-direction: row;
    
 }
 .follow{
    font-size: 18px;
  color: grey;
     display:flex;
      flex-direction: row;
 }
/* head2 */
.im1{
    width:100%;
    height:100px;
}
.set{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top:30px;
}
.icons{
    width:40px;
    height:40px;
    border-radius: 50%;
    border:2px solid rgb(176, 173, 173);
    background-color: transparent;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:-10px ;
    margin-right:-40px;
}
.text{
    font-size: 16px;
}
.nav-head{
    background-color: #278be5;
}
.nav-item>.items{
    color: aliceblue;
    text-decoration:none;
    text-transform: capitalize;
}
.purchase{
    float:right;
    margin-right:30px;
    background-color: transparent;
    border: 2px solid white;
    border-radius:25px;
    padding:10px;
    color:white
}
.purchase-text{
    text-decoration: none;
    font-size: 16px;

}
.purchase:hover {
    background-color: white;
    color:black;
}
.set1{
    height:100vh;
     background-size: cover;
}
.set-img{
    background-size: cover;
}

/* .carousel-indicators {
  position: static; 
  display: flex;
  justify-content: center;
  gap: 0.5rem;
margin-top: 1rem;
} */
.carousel-indicators {
position:static;
display:flex;
justify-content: center;
gap:0.5rem;
margin-top:1rem;
}
.carousel-indicators button.thumbnail{
width:65px;
height:65px;
opacity:0.6;
padding:0;
border:none;
background: transparent;
}
.carousel-indicators button.thumbnail.active{
    opacity: 1;
    transform: scale(1.2);
}

.carousel-indicators button.thumbnail .ims1 {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.carousel-caption{
    margin-bottom:250px;
}
.first-content{
    color:white;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}
.second-content{
    color:white;
    font-weight: 800;
    font-size: 65px;
    font-family: "Roboto", sans-serif;
}

.ims1{
    border:3px solid white;
    border-radius:52%;
}
.carousel-item::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.card-section{
    margin:50px 0px;
    display:flex;
    align-items: center;
    padding:16px;
  border: 2px solid grey;;
}

.i-style{
    font-size: 75px;
    margin-top:30px;
}
.card-body-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-section{
    font-size: 40px;
    font-weight: 700;
      font-family: "Roboto", sans-serif;
}
.card-row{
   padding: 30px;

}
.about-img{
    width:70%;
    height:95%;
    position:relative;
    background-color: aqua;
    object-fit: cover;
    background-color: transparent;
    border:5px solid #278be5;
    border-radius: 10px;
    margin-left:50px;
   
}
.abt-img{
width:110%;
height:105%;
  position:absolute;
  bottom:-65px;
  right:-105px;
   border-radius: 10px;

}
.about{
margin: 80px 0px;
}
.section-title{
    color:#278be5;
    position: relative;
    display: inline-block;
}
.section-title::before{
    content:'';
    position:absolute;
    width:80px;
    height:2px;
    top:4px;
    z-index:-1;
    background:#278be5 ;
}
.years{
    color:#278be5;
}
.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}
.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 10px);
    height: 2px;
    bottom: 4px;
    left: 60px;
    background:#278be5 ;
    z-index: -1;
}

*, *::before, *::after {
    box-sizing: border-box;
}
.content{
    line-height: 1.5;
    font-size: 16px;
    text-align: justify;
    color:rgb(177, 178, 182);

}
.person-style{
    width:70px;
    height:70px;
    border-radius: 50%;
}
.person-detail{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding:10px;
}
.person-img{
    margin-right:20px;
}
.name{
    font-weight: 600;
}
.seo{
    color: rgb(177, 178, 182);
}
.content-section{
    padding:10px 0px;
    margin-right:40px;
}
.about-head{
    font-size: 40px;
}
.button-read{
   margin-top:10px;
   padding:5px;
}

.service-styles{
color:#278be5;
position:relative;
display:inline-block;
text-align: center;


}
.service-styles::before{
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: #278be5;
  z-index:-1;
}
.service-styles.text-start1::before {
  width: calc(100% + 80px);
    left: -40px;
}
*, *::before, *::after {
    box-sizing: border-box;
}

.service-styles.text-start1::after {
    width: calc(100% + 120px);
    left: -60px;
}
.service-styles::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 4px;
    left: -60px;
    background: #278be5;
    z-index: -1;
}
.service-head{
    display:flex;
    align-items: center;
    justify-content: center;
}
.service-sets{
    width:320px;
    height:390px;
    border-radius: 10px;
    background-color:rgb(251, 241, 241);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.serv-cont{
    text-align: center;
    margin-top: 15px;
}
.serv-img{
    width:90%;
    height:280px;
    border-radius:10px;
     margin-top: 15px;
}
 .team-row{
    margin-right: -100px;
 }
.fade-up-anim{

      transform:translateY(20px);
   transition:transform 0.5s ease-out;
}
.service-sets:hover.fade-up-anim{
transform: translateY(0);
}
.choose-img{
    margin-left: 0px;
}

.choose-content{
 margin-left: 50px;
}
.progress-head{
    display:flex;
    justify-content: space-between;
    align-items: center;
flex-direction: row;
padding:0px 10px;
margin-left:45px;
margin-bottom: -5px;
}
.progress-style{
    margin-left:55px;
}
.percent-style{
margin-right:105px;
}

.carsl-rows{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}

.carousel .carl-item {
    background-color: rgba(31, 100, 219, 0.932);
}
.team-img{
    border-radius: 50%;
    margin-top:30px;
}
.main-box{
    width:100%;
    height:250px;
     padding:20px;
     background-color: rgb(191, 191, 197);
     border-radius:10px;
}

.client1{
    width:50px;
    height:50px;
    border-radius:50%;
    border:3px solid #ffffff;

}
.main-content{
    display:flex;
    flex-direction: row;
}
.client-name{
    font-size: 16px;
font-weight: 700;
}
.client-prof{
    font-size: 14px;
    font-weight: 500;
     color: rgb(83, 86, 99);
}
.client-detail{
    margin-left:10px;
}
.content2{
    text-align:start;
}
.blog-img1{
    width:90%;
    height:400px;
    background-image: url('./images/blog-1.jpg');
   background-size:  cover;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
}
.blog-img2{
  width:90%;
    height:400px;
    background-image: url('./images/blog-2.jpg');
   background-size:  cover;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
     position: relative;
}
.blog-img3{
  width:90%;
    height:400px;
    background-image: url('./images/blog-3.jpg');
   background-size:  cover;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
     position: relative;
}
.blog-main{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin:0px 50px;
    
}
.blog-content{
    color:white;
   margin-bottom:0px;
   z-index:1;
}
.blog-content2{
    color:white;
   margin-top:50px;
   z-index:1;
   padding:5px;
}
.blog-img1::before{
   content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.blog-img2::before{
   content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.blog-img3::before{
   content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.3);
}
#footer{
    background-color: black;
    padding:50px;
    height:400px;
}
.footer-content{
    color: rgb(181, 170, 170);
    padding:3px;
}
.footer-icon{
    font-size:24px;
    margin-right:15px;
}
.footer-title{
     color: white;
}
.icon-item{
    border-radius: 50%;
    background-color: aquamarine;
    display:flex;
    justify-content: center;
    align-items: center;
}
.footer-list{
    margin-left:35px;

}
.flist-head{
    list-style: none;
}
.footer-list::before{
    content:"\2192\00A0";
}
.copyright{
    color:#cec9c9;
}
.link-struct{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-img{
    margin-right:-15px;
}
/* .form-control::placeholder{
    color: #ffffff;
    opacity: 1;
} */

    .form-control.bg-transparent::placeholder{
        color:#17a2b8;
        opacity: 1;
    }
    hr{
        height: 2px;
        background-color: #cec9c9;
        opacity: 1;
    }
    .foot-arrow{
        float:right;
        font-size: 50px;
    margin-bottom:0px;
    position:sticky;
    top:100vh;
    z-index:99;
    opacity: 3;

    }
    .up-arrow{
 float:right;
 margin-top:-50px;
 position:fixed;
 bottom:0;
 right:10px;
   z-index:99;
    opacity: 3;
    }
    a{
        text-decoration: none;
    }
    html{
        scroll-behavior: smooth;
    }
    ::-webkit-scrollbar{
       
    width:10px;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: antiquewhite;
}
::-webkit-scrollbar-thumb{
      background-color:#09b7f1;
    border-radius: 10px;
     height:100px;
    
}